[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec=/usr/bin/postman
Icon=/usr/share/pixmaps/postman.png
Terminal=false
Type=Application
Categories=Development;
Comment=API Development Environment
GenericName=Postman
StartupNotify=false
Keywords=postman;