[Desktop Entry]
Name=Postman
Comment=API Development Environment
GenericName=Postman
Exec=/usr/bin/postman
Icon=/usr/share/pixmaps/postman.png
Type=Application
StartupNotify=false
Categories=Utility;Development;Network;
Keywords=postman;


